[submodule "iden3-circuits"]
	path = iden3-circuits
	url = https://github.com/iden3/circuits.git
[submodule "circomlib"]
	path = circomlib
	url = https://github.com/iden3/circomlib.git
[submodule "passport-zk-circuits"]
	path = passport-zk-circuits
	url = git@github.com:rarimo/passport-zk-circuits.git
[submodule "ed25519-circom"]
	path = ed25519-circom
	url = git@github.com:Electron-Labs/ed25519-circom.git
[submodule "maci"]
	path = maci
	url = git@github.com:privacy-scaling-explorations/maci.git
